/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/* Base structure */

html,
body{
    height: 100%;
    background-color: #999;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

#wrapper{
    height: 100%;
    width: 100%;
    background-color: #999;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.cover-container {
    max-width: 42em;
}


/* Header */

.masthead {
    margin-bottom: 2rem;
}
.masthead-brand {
    margin-bottom: 0;
}
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: #333;
    background-color: transparent; 
    text-shadow: 0 0 0;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/* Cover */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/* Footer */
.mastfoot {
    color: rgba(255, 255, 255, .5);
    color: #333;
    text-shadow: 0 0;
    padding-top: 20px;
}


/* Portait formatting */
#portrait-img {
    border-bottom: 10px solid
}


/* Contact Me Modal */
.modal-header{
    color:#333;
    text-shadow: 0 0;
}
#modalCenterTitle.modal-title{
    text-shadow: 0 0;
    color:black;
}
.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}


#contact-form{
    color: black;
    text-shadow: 0 0;
    text-align: left;
}
#contact-submit-button, #contact-required-text{
    text-align: center;
}
#home-buttons .col-{
    padding: 3px;
}

/* Resume Page */
#resume-text{
    text-align: left;
    text-shadow: 0 0;
}
#resume-text a:hover{
    text-decoration: underline;
}
.resume-header{
    color: #333;
}

/* Upper Room Page */
#upperroom-writeup{
    text-align: left;
}

/* Footer - Copyright/Social */
#copyright{
    font-size: 8px;
}



